<a href="https://colab.research.google.com/github/Spal18/Python/blob/main/Data_structure_advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.write a code to reverse a string?
a="Shivani"
print(a[-1::-3])

ivS

In [ ]:
#2.write a code to count the number of vowels in a string?
na="Honey bunney"
count=0
for i in na:
    if i in "aeiouAEIOU":
        count+=1
print(count)

4

In [ ]:
#3.write a code to check if a given string is a palindrome or not?
a="Gudda"
if a==a[::-1]:
    print("palindrome")
else:
    print("not palindrome")
    b="HeeH"
if b==b[::-1]:
    print("palindrome")
else:
    print("not palindrome")

not palindrome
palindrome

In [ ]:
#4.write a code to check if two given strings are anagrams of each other?
a="light"
b="Dark"
if sorted(a)==sorted(b):
    print("anagram")
else:
    print("not anagram")
    a="eat"
    b="tea"
if sorted(a)==sorted(b):
    print("anagram")
else:
    print("not anagram")

not anagram
anagram

In [ ]:
#5.write a code to find all the occurrences of given substring within another string?
A="Deepak is a good boy"
sub="o"
for i in range(len(A)):
    if A[i]==sub:
        print(i)

13
14
18

In [ ]:
#6.write a code to perform basic string compression using the counts of repeated characters?
s="aabcccccaaa"
result="aa"
count=1
for i in range(len(s)-1):
    if s[i]==s[i+1]:
        count+=1
    else:
        result+=str(count)
        result+=s[i+1]
        count=1
result+=str(count)
print(result)

aa2b1c5a3

In [ ]:
#7.write a code to determine if a string has all unique characters?
b="Shivani"
for i in b:
    if b.count(i)>1:
        print("not unique")
        break
else:
    print("unique")

not unique

In [ ]:
#8.write a code to convert a given string to uppercase or lowercase?
s="December"
print(s.upper())
print(s.lower())

DECEMBER
december

In [ ]:
#9.write a code to count the number of words in a string?
a="I am a good boy"
print(len(a.split()))

5

In [ ]:
#10.write a code to concatenate two strings without using the + operator?
a="Deepak"
b="Kumar"
print("".join([a,b]))

DeepakKumar

In [ ]:
#11.write a code to remove all occurrences of a specific element from a list?
a=[1,2,3,4,5,6,7,8,9,10]
b=int(input("8"))
for i in a:
    if i==b:
        a.remove(i)
print(a)

88
[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [ ]:
#12.implement a code to find the second largest number in a given list of integers?
a=[1,2,3,4,5,6,7,8,9,10]
a.sort()
print(a[-2])

9

In [ ]:
#13.create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their count as values?
a=[1,2,3,4,5,6,7,8,9,10]
b={}
for i in a:
    b[i]=a.count(i)
print(b)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1}

In [ ]:
#14.write a code to reversea list in- place without using any built-in reverse function?
a=[1,2,3,4,5,6,7,8,9,10]
b=[]
for i in range(len(a)):
    b.insert(0,a[i])
print(b)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#15.implement a code to find and remove duplicates from a list while preserving the original order of element.
a=[1,2,3,4,5,6,7,8,9,10]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#16.create a code to check if a given list is sorted (either in ascending or descending order) or not.
a=[1,2,3,4,5,6,7,8,9,10]
if a==sorted(a) or a==sorted(a,reverse=True):
    print("sorted")
else:
    print("not sorted")
    a=[10,9,8,7,6,5,4,3,2,1]
if a==sorted(a) or a==sorted(a,reverse=True):
    print("sorted")
else:
    print("not sorted")

sorted
sorted

In [ ]:
#17.write a code to merge two sorted lists into a single sorted list.
a=[1,2,3,4,5,6,7,8,9,10]
b=[10,9,8,7,6,5,4,3,2,1]
c=a+b
c.sort()
print(c)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10]

In [ ]:
#18.emplement a code to find the intersection of given two lists.
a=[1,2,3,4,5,6,7,8,9,10]
b=[10,9,8,7,6,5,4,3,2,1]
c=[]
for i in a:
    if i in b:
        c.append(i)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#19.create a code to find the union of two without duplicates.
a=[1,2,3,4,5,6,7,8,9,10]
b=[10,9,8,7,6,5,4,3,2,1]
c=a+b
d=[]
for i in c:
    if i not in d:
        d.append(i)
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#20.write a code to shuffle a given list randomly without using any built-in shuffle functions.
import random
a=[1,2,3,4,5,6,7,8,9,10]
random.shuffle(a)
print(a)

[4, 2, 6, 5, 3, 8, 9, 7, 10, 1]

In [ ]:
#21.write a code that takes two tuples as inputand returns a new tuple containing element that are common to the both input tuples.
a=(1,2,3,4,5,6,7,8,9,10)
b=(10,9,8,7,6,5,4,3,2,1)
c=a+b
d=[]
for i in c:
    if i not in d:
        d.append(i)
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#22.create a code that prompts the user to enter two set of integers separated by commas. then, print the intersection of these two sets.
a=("Deepak ")
b=("Deepak")
a=set(a.split(","))
b=set(b.split(","))
print(a.intersection(b))

set()

In [ ]:
#23.write a code to concatenate two tuples. the function should take two tuples as input and return a new tuple containing elements from both input tuples.
a=(1,2,3,4,5,6,7,8,9,10)
b=(10,9,8,7,6,5,4,3,2,1)
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
#24.develop a code that prompts the user to inputs two sets of string .then ,print the element that are present in the first set but not in the second set .
a=("Eat")
b=("Tea")
a=set(a.split(","))
b=set(b.split(","))
print(a.difference(b))

{'Eat'}

In [ ]:
#25.create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original
D=(1,2,3,4,5,6,7,8,9,10)
a=int(input("1"))
b=int(input("5"))
print(D[a:b])

15
51
()

In [ ]:
#26. write a code that prompts the user to iput two set of characters.Then,print union of these two set.
a=("Eat")
b=("Tea")
a=set(a.split(","))
b=set(b.split(","))
print(a.union(b))

{'Eat', 'Tea'}

In [ ]:
#27.Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum value from the tuple useing tuple unpacking.
a=(11,12,13,14,15,16,17,18,19,20)
print(max(a))
print(min(a))

20
11

In [ ]:
#28. Create a code that define two set of integers.Then,print the union, intersection, and differenceof these two sets.
s1={1,2,3,4,5,6,7,8,9,10}
s2={10,9,8,7,6,5,4,3,2,1}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()

In [ ]:
#29.write a code that take a tuple and an elemnts as input.The function should return the count of occurences of the given element in the tuple.
a=(1,2,3,4,5,6,7,8,9,10)
b=int(input("5"))
print(a.count(b))

56
1

In [ ]:
#30.Develop a code that prompts the user to inputs two sets of strings.Then, print the symmetric difference of these two sets.
a=("Bright")
b=("Dark")
a=set(a.split(","))
b=set(b.split(","))
print(a.symmetric_difference(b))

{'Dark', 'Bright'}

In [ ]:
#31.write a code that take a list of words as input and return a dictionary where the keys are  uniqe words and the values are the frequencies of those words inthe input list.
s="Gudda"
d={}
for i in s:
    d[i]=s.count(i)
print(d)

{'G': 1, 'u': 1, 'd': 2, 'a': 1}

In [ ]:
#32.write a code that take two dictionaries as input the merge them into a single dictionary. if there are common keys, the values should be added together.
a={"Deepak":1,"Kumar":2}
b={"Deepak":3,"Kumar":4}
a.update(b)
print(a)

{'Deepak': 3, 'Kumar': 4}

In [ ]:
#33.write a code  to access a value in a nested dictionary.The function should take the dictionary and a list of keys as input ,and return the crossponding value.If any of the keys do not exist in the dictionary , the function should return none.
a={"Deepak":{"Kumar":2}}
b=a.get("Deepak")
print(b)

{'Kumar': 2}

In [ ]:
#34.write a code that takes a dictionary as input and returns a sorted version of it based on the value . you can choose whether to sort in ascending or dessending order.
a={"Deepak":1,"Kumar":2}
b=sorted(a.items(),key=lambda x:x[1])
print(dict(b))

{'Deepak': 1, 'Kumar': 2}

In [ ]:
#35.write a code that inverts a dictionary,swapping keys and values.Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by stroing the keys  as a  list in the inverted dictionary.
a={"Deepak":1,"Kumar":2}
b={}
for i,j in a.items():
    b[j]=i
print(b)

{1: 'Deepak', 2: 'Kumar'}