<a href="https://colab.research.google.com/github/Spal18/Python/blob/main/Datastructrure_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Discuss string slicing and provide examples.

#slicing string is used to excess a particular item into provide string

In [ ]:
A = 'Google'
A

'Google'

In [ ]:
#when we want to use a single part of the string
A[4]

'l'

In [ ]:
A[-2]

'l'

In [ ]:
String = "Let's go for Party"
len(String)

18

In [ ]:
String[0:8]  #working on a particular part of string

"Let's go"

In [ ]:
String[0:18:2] #[start:end:step] >> this is slicing

'Ltsg o at'

In [ ]:
A[::-1] #reverse string

'elgooG'

In [ ]:
A[::2]

'Gol'

In [ ]:
#2.Explain the key features of lists in Python.

#list is a ordered collection of items >> it's mutable, index, count, append, insert, pop, allow duplicate, sort
L1 = [1, 2, 3.5, 100, 'run', True, 'comment']
L1

[1, 2, 3.5, 100, 'run', True, 'comment']

In [ ]:
len(L1)

7

In [ ]:
L1[0:4]

[1, 2, 3.5, 100]

In [ ]:
L1[-2]

True

In [ ]:
Entertainment = ['Hollywood', "News", 'Web series']
Entertainment.append("Bollywood")
Entertainment.append("play")

In [ ]:
Entertainment

['Hollywood', 'News', 'Web series', 'Bollywood', 'play']

In [ ]:
Entertainment.insert(2, "Comic")

In [ ]:
Entertainment

['Hollywood', 'News', 'Comic', 'Web series', 'Bollywood', 'play']

In [ ]:
L2 = list(range(5))*3

In [ ]:
L2

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [ ]:
L1 = [1, 2, 3.5, 100, 'run', True, 'comment']
L1[1] = "Apple"

In [ ]:
L1

[1, 'Apple', 3.5, 100, 'run', True, 'comment']

In [ ]:
#3. Describe how to access, modify and delete elements in a list with examples

Movies = ['Action', 'Thriller', 'Comedy', 'Mystery', 'Sci-fi', 'Drama']

In [ ]:
Movies

['Action', 'Thriller', 'Comedy', 'Mystery', 'Sci-fi', 'Drama']

In [ ]:
Movies[-3]

'Mystery'

In [ ]:
Movies[0:3]

['Action', 'Thriller', 'Comedy']

In [ ]:
Movies[1] = 'Crime' #replace an item of list

In [ ]:
Movies

['Action', 'Crime', 'Comedy', 'Mystery', 'Sci-fi', 'Drama']

In [ ]:
Movies.append("Adventure") #add a new item in list

In [ ]:
Movies

['Action', 'Crime', 'Comedy', 'Mystery', 'Sci-fi', 'Drama', 'Adventure']

In [ ]:
Movies.remove('Drama')  #for remove or delete an item
Movies

['Action', 'Crime', 'Comedy', 'Mystery', 'Sci-fi', 'Adventure']

In [ ]:
#4. Compare and contrast tuples and lists with examples.

#list is a ordered collection of elements, mutable, list allow modification, List[],
#Also tuple is a collection of elements but it is immutable, tuple does not support item assignment, Tuple(),

In [ ]:
Numbers = [1,2,3,4,5]
Numbers

[1, 2, 3, 4, 5]

In [ ]:
Numbers[1] = 8 # Mutable >> list
Numbers

[1, 8, 3, 4, 5]

In [ ]:
Roll_nums = (1,2,3,4,5)
Roll_nums

(1, 2, 3, 4, 5)

In [ ]:
Roll_nums[1] = 6  # Immutable >> tuple
Roll_nums

TypeError: 'tuple' object does not support item assignment

In [ ]:
#5. Describe the key features of sets and provide examples of their use

#set = {}
#Sets are unordered and unique collection of elements
#it doesn't alllow duplicate elements
#indexing will not work
# sets are mutable
#also sets have some operations

In [ ]:
S = {1,1,0,5, 2, 8,0,2, "set","set", "ste"}
S

{0, 1, 2, 5, 8, 'set', 'ste'}

In [ ]:
type(S)

set

In [ ]:
S[1]

TypeError: 'set' object is not subscriptable

In [ ]:
S.add(100)
S

{0, 1, 100, 2, 5, 8, 'set', 'ste'}

In [ ]:
S.pop()
S

{1, 100, 2, 5, 8, 'set', 'ste'}

In [ ]:
S.remove("ste")  # remove for specific item
S

{1, 100, 2, 5, 8, 'set'}

In [ ]:
S.update("set")
S

{1, 100, 2, 5, 8, 'e', 's', 'set', 't'}

In [ ]:
#6. Discuss the use cases of tuples and sets in Python programming

#use cases of tuples_where we don't want to modify data like :- employee id's, roll no. in universities and location in latitude or longitude
#use cases of sets_ to compare 2 different sets by set operations, to filter duplicate items, and we can easily find an item in set

In [ ]:
#7. Describe how to add, modify and delete items in a dictionary with examples

#Dictionary is a set of key value pair
Dic = {"Emply1":"Engineer", "Emply2":"Teacher","Emply3":"Painter","Emply4":"Advocate"}
Dic

{'Emply1': 'Engineer',
 'Emply2': 'Teacher',
 'Emply3': 'Painter',
 'Emply4': 'Advocate'}

In [ ]:
type(Dic)

dict

In [ ]:
Dic["Emply2"]

'Teacher'

In [ ]:
Dic["Emply4"]

'Advocate'

In [ ]:
Dic["Emply4"] = "Lawyer"  #for modify a value
Dic

{'Emply1': 'Engineer',
 'Emply2': 'Teacher',
 'Emply3': 'Painter',
 'Emply4': 'Lawyer'}

In [ ]:
Dic["Emply5"] = "Chef"  #for add a new pair >> or update to add another dict
Dic

{'Emply1': 'Engineer',
 'Emply2': 'Teacher',
 'Emply3': 'Painter',
 'Emply4': 'Lawyer',
 'Emply5': 'Chef'}

In [ ]:
del Dic["Emply1"]  #for delete a pair >> or pop can be used
Dic

{'Emply2': 'Teacher',
 'Emply3': 'Painter',
 'Emply4': 'Lawyer',
 'Emply5': 'Chef'}

In [ ]:
Dic.keys()

dict_keys(['Emply2', 'Emply3', 'Emply4', 'Emply5'])

In [ ]:
Dic.values()

dict_values(['Teacher', 'Painter', 'Lawyer', 'Chef'])

In [ ]:
Dic123 = Dic.copy()

In [ ]:
Dic123

{'Emply2': 'Teacher',
 'Emply3': 'Painter',
 'Emply4': 'Lawyer',
 'Emply5': 'Chef'}

In [ ]:
len(Dic123)

4

In [ ]:
Dic123.clear()
Dic123

{}

In [ ]:
del Dic123
Dic123

NameError: name 'Dic123' is not defined

In [ ]:
#8. Discuss the importance of dictionary keys being immutable and provide examples

#Immutability is essential for keys because it ensures that the dictionary can efficiently look up values based on their keys.
#If a key was mutable, its hash value could change, making it impossible to find the associated value in the dictionary.

In [ ]:
Emply_salaries = {"Sohan": 35000, "Rohan": 55000, "Mahesh":60000, "Ram": 72000}
Emply_salaries

{'Sohan': 35000, 'Rohan': 55000, 'Mahesh': 60000, 'Ram': 72000}

In [ ]:
Emply_salaries["Sohan"] = 40000
Emply_salaries

{'Sohan': 40000, 'Rohan': 55000, 'Mahesh': 60000, 'Ram': 72000}

In [ ]:
Emply_salaries[40000]
Emply_salaries

KeyError: 40000

In [ ]:
Emply_salaries.keys()

dict_keys(['Sohan', 'Rohan', 'Mahesh', 'Ram', 50000])

In [ ]:
Emply_salaries.values()

dict_values([40000, 55000, 60000, 72000, 'Rohan'])

In [ ]:
Emply_salaries.keys("Sohan") = "Mohan"
Emply_salaries

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-43-2445d88b4cb1>, line 1)

In [ ]:
Emply_salaries["Sohan"] = "Mohan"
Emply_salaries

{'Sohan': 'Mohan',
 'Rohan': 55000,
 'Mahesh': 60000,
 'Ram': 72000,
 50000: 'Rohan'}

In [ ]:
Dic.fromkeys((1,2,3,4),("abc","def","ghi","jkl"))

{1: ('abc', 'def', 'ghi', 'jkl'),
 2: ('abc', 'def', 'ghi', 'jkl'),
 3: ('abc', 'def', 'ghi', 'jkl'),
 4: ('abc', 'def', 'ghi', 'jkl')}

In [ ]:
#from keys
Emply_salaries.fromkeys((1, 2, 3), ("a", "b", "c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}